<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style></style>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="name" />
      <input type="text" v-model="unitprice" />
      <input type="text" v-model="qty" />
      <span
        >zongjia :{{total}}
        计算属性使用的时候不要加括号，因为它是属性不是方法</span
      >

      <span>{{calc()}}</span>
    </div>
    <script src="../lib/vue.js"></script>

    <script>
      let vm = new Vue({
        el: '#app',
        data: {
          name: 'abc',
          unitprice: 0,
          qty: 0,
        },
        methods: {
          calc: function () {
            console.log('calc-----')
          },
        },
        computed: {
          //计算属性一般是有一个返回值的
          //计算属性内部用到的data的成员属性，只要任何一个变化
          //计算属性都会重新计算
          total: function () {
            console.log('total------')
            return this.qty * this.unitprice
          },
        },
      })
    </script>
  </body>
</html>
